/*Variables*/
$color-rojo: #c71216;
$color-blanco: #efefef;
$singles: (contrareloj: 10px, desaparecida: 10px, fiji: 10px, lovesta: 10px, mideseodeañonuevo: 10px, madqst: 10px, numberone: 10px, perreotriste: 10px );

/*Mixin*/
@mixin fontsize($size) {
  font-size:$size ;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", cursive;

  .fondoindex,
  .fondoartistas,
  .fondomusica,
  .fondoop,
  .fondocontacto {
    background-image: url(../assets/images/fondo.png);
    background-size: 100% 100%;

    header {
      display: flex !important;
      align-items: center !important;
      justify-content: space-around;

      .navbar-toggler {
        color: $color-rojo !important;

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28199, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
      }

      li {
        display: inline;
        margin-right: 25px;
        list-style: none;
      }

      a {
        color: $color-rojo !important;
        @include fontsize(30px);
        text-decoration: none;
      }
    }

    .tituloUltimosLanzamientos {
      @include fontsize(55px);
      text-align: center;
      margin: 10px;
      color: $color-blanco;
    }

    .ultimosLanzamientos {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .reproductoryt {
        margin: 20px;
        width: 330px;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        @include fontsize(20px);
        color: $color-blanco;

        .tema1 {
          border-radius: 30px;
        }

        .tema2 {
          @extend .tema1;
        }

        .tema3 {
          @extend .tema1;
        }

        .tema4 {
          @extend .tema1;
        }
      }
    }

    .tituloArtistas {
      @include fontsize(55px);
      text-align: center;
      padding: 10px;
      color: $color-blanco;
    }

    .artistas {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .fotosArtistas {
        margin: 20px;
        align-items: center;
        text-align: center;
        @include fontsize(20px);

        h4 {
          color: $color-blanco;
          margin-top: 10px;
        }

        .betrees {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .betrees:hover {
          transform: scale(1.05);
        }

        .cfaravena {
          border-radius: 20px;
          transition: transform 0.2s;
        }
        .cfaravena:hover {
          transform: scale(1.05);
        }

        .izaiah {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .izaiah:hover {
          transform: scale(1.05);
        }

        .meraghice {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .meraghice:hover {
          transform: scale(1.05);
        }

        .sunk {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .sunk:hover {
          transform: scale(1.05);
        }

        .tailagar {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .tailagar:hover {
          transform: scale(1.05);
        }

        .xanboii {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .xanboii:hover {
          transform: scale(1.05);
        }

        .yungpipe {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .yungpipe:hover {
          transform: scale(1.05);
        }

        .zisboi {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .zisboi:hover {
          transform: scale(1.05);
        }

        .zmokk {
          border-radius: 20px;
          transition: transform 0.2s;
        }

        .zmokk:hover {
          transform: scale(1.05);
        }
      }
    }

    .tituloMusica {
      text-align: center;
      @include fontsize(55px);
      padding: 10px;
      color: $color-blanco;
    }

    .filtros {
      display: flex;
      justify-content: center;

      input[type="radio"] {
        display: none;
      }

      .botonfiltro {
        margin: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 6px 30px;
        @include fontsize(30px);
        background: $color-rojo;
        color: $color-blanco;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .temas {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      h4 {
        color: $color-blanco;
        margin-top: 10px;
      }

      .singles {
        margin: 20px;
        align-items: center;
        text-align: center;
        @include fontsize(20px);

       @each $temas,
       $borde in $singles{
         .#{$temas}{
           border-radius: $borde;
         }
       }
        
        .contrareloj {

          transition: transform 0.2s;
        }

        .contrareloj:hover {
          transform: scale(1.05);
        }

        .desaparecida {
          
          transition: transform 0.2s;
        }
        .desaparecida:hover {
          transform: scale(1.05);
        }

        .fiji {
          
          transition: transform 0.2s;
        }
        .fiji:hover {
          transform: scale(1.05);
        }

        .lovestar {
          
          transition: transform 0.2s;
        }

        .lovestar:hover {
          transform: scale(1.05);
        }

        .mideseodeañonuevo {
          
          transition: transform 0.2s;
        }

        .mideseodeañonuevo:hover {
          transform: scale(1.05);
        }

        .madqst {
          
          transition: transform 0.2s;
        }

        .madqst:hover {
          transform: scale(1.05);
        }

        .numberone {
          
          transition: transform 0.2s;
        }

        .numberone:hover {
          transform: scale(1.05);
        }

        .perreotriste {
          
          transition: transform 0.2s;
        }

        .perreotriste:hover {
          transform: scale(1.05);
        }

        .sueños {
          border-radius: map-get($singles, perreotriste);
          transition: transform 0.2s;
        }

        .sueños:hover {
          transform: scale(1.05);
        }
      }

      .eps {
        margin: 20px;
        align-items: center;
        text-align: center;
        @include fontsize(20px);

        .perreowaves {
          border-radius: 10px;
          transition: transform 0.2s;
        }

        .perreowaves:hover {
          transform: scale(1.05);
        }
      }
    }

    .onlypalosTitulo {
      text-align: center;
      @include fontsize(55px);
    }

    .historia {
      display: flex;
      margin-bottom: 30px;
      align-content: center;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      .imagenlogo {
        flex-wrap: wrap;
        margin-top: -40px;
        margin-left: 30px;
        margin-bottom: 6px;
        align-self: center;

        .bordehistoria {
          border-radius: 150px;
        }
      }

      .historiadelsello {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
        @include fontsize(20px);
        text-align: start;
        margin-left: 30px;
        align-self: center;

        h4 {
            color: $color-blanco;
          }
      }
    }

    @media screen and (min-width: 600px) {
      .historia {
        flex-wrap: nowrap;
      }
    }

    h2 {
      color: $color-blanco;
    }

    .titulocontacto {
        text-align: center;
        @include fontsize(55px);
        margin: 10px;
      }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      @include fontsize(20px);
      color: $color-blanco;

      input[type="submit"] {
        display: none;
      }

      input[type="reset"] {
        display: none;
      }

      .botonform {
        margin: 10px;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 6px 40px;
        @include fontsize(20px);
        background: $color-rojo;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    footer {
      justify-content: space-between;
      text-align: center;
      padding: 30px;
      color: $color-blanco;

      .redes {
        @include fontsize(30px);
        align-items: center;
        word-spacing: 20px;
      }

      .contacto {
        @include fontsize(25px);
        padding-bottom: 10px;
      }

      .licencia {
        @include fontsize(17px);
      }
    }
  }
}
